<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>sign in</title>
      <<link rel="stylesheet" th:href="@{style.css}" type="text/css">>

</head>


<body>
  <h1>Sign In</h1>
<div id="wrapper">
	<form id="signin" action="/login" method="post">
		<input type="text" id="username" name="username" placeholder="username" />
		<input type="password" id="password" name="password" placeholder="password" />
		<button type="submit">&#xf0da;</button>
	</form>
</div>
</body>
</html>
